.projects-section {
  padding: 60px 0;
  text-align: center;
    background: radial-gradient(circle at top, #1e1b4b, #0f0c29, #000000);
    color: white;
}

.gradient-title {
  font-size: 36px;
  font-weight: 800;
 background: radial-gradient(circle at top, #1e1b4b, #0f0c29, #000000);
  -webkit-background-clip: text;
  color: transparent;
}

.projects-container {
  margin-top: 40px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.project-card {

  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255,255,255,0.2);
  transition: 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  border-color: #5ddcff;
  box-shadow: 0 0 15px #5ddcff55;
}

.project-title {
  background: linear-gradient(90deg, #5ddcff, #a855f7);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 22px;
}
