* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.home-body {
  padding-top: 300px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.intro-text h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.highlight {
  background: linear-gradient(90deg, #5ddcff, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color:transparent;
}

.intro-text p {
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 1.2rem;
  color: #d1d5db;
  line-height: 1.7;
}

.know-more-btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 28px;
  border-radius: 50px;

  background: linear-gradient(90deg, #5ddcff, #a855f7);
  color: #000;
  font-weight: 600;
  text-decoration: none;

  transition: 0.3s ease-in-out;
}

.know-more-btn:hover {
  opacity: 0.85;
  transform: scale(1.05);
}

.home-container, 
.intro-text, 
section, 
div {
  max-width: 100%;
}
