.CV-container {
  padding-top : 250px ;
  text-align: center;
 
}

.cv-title {
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(90deg, #5ddcff, #a855f7);
  margin-bottom: 20px;
}

.cv-container iframe,
.cv-iframe {
  width: 80%;
  height: 600px;
  border: none;
  margin: 0 auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.cv-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.cv-buttons a {
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.3s ease;
}

.view-btn {
  background: linear-gradient(90deg, #5ddcff, #a855f7);
  color: white;
}

.view-btn:hover {
  background-color: #357ABD;
}

.download-btn {
  background: linear-gradient(90deg, #5ddcff, #a855f7);
  color: white;
}

.download-btn:hover {
  background-color: #1e7e34;
}

@media (max-width: 768px) {
  .cv-iframe {
    width: 95%;
    height: 450px;
  }

  .cv-buttons {
    flex-direction: column;
    gap: 10px;
  }
}
