.CV-container {
  padding-top: 250px;
  text-align: center;
  animation: fadePage 1.2s ease-in-out; 
}

.cv-title {
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(90deg, #5ddcff, #a855f7);
  margin-bottom: 20px;
}

.cv-container iframe,
.cv-iframe {
  width: 80%;
  height: 600px;
  border: none;
  margin: 0 auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  opacity: 0;
  transform: translateY(40px);
  animation: iframeSlide 1.2s ease forwards;
}

.cv-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.cv-buttons a {
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.4s ease;
  position: relative;
  overflow: hidden;
}

.view-btn,
.download-btn {
  background: linear-gradient(90deg, #5ddcff, #a855f7);
  color: white;
}

.cv-buttons a:hover {
  transform: scale(1.06);
  box-shadow: 0 0 12px rgba(93, 220, 255, 0.5), 0 0 18px rgba(168, 85, 247, 0.4);
}

@media (max-width: 768px) {
  .cv-iframe {
    width: 95%;
    height: 450px;
  }

  .cv-buttons {
    flex-direction: column;
    gap: 10px;
  }
}

@keyframes fadePage {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes iframeSlide {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
