.about-section {
  background-color: burlywood; 
  color: #ffffff;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.about-content {
  max-width: 700px;
  padding: 20px;
}

.about-content h2 {
  font-size: 2.4rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.about-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 18px;
  color: #d1d5db; 
}


.social-links {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-btn {
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.linkedin {
  background-color: #0A66C2;
  color: white;
}

.linkedin:hover {
  background-color: #0957a0;
}

.github {
  background-color: #333;
  color: white;
}

.github:hover {
  background-color: #242424;
}
