.footer {
  width: 100%;
  padding: 20px 0;
  background-color: #111;
  color: #fff;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media (min-width: 600px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }
}
