
.contact-container {
  width: 100%;
  min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e1b4b, #0f0c29, #000000);
}

.contact-card {
  width: 100%;
  max-width: 850px;
   background: linear-gradient(90deg, #5ddcff, #a855f7);
  padding: 35px;
  border-radius: 18px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}

.contact-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}

.contact-subtitle {
  text-align: center;
  margin-bottom: 25px;
  font-size: 16px;
    color: #333;
}

.contact-details {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 18px;
   color: #555;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 17px;
 color: #555;
}

.contact-item a {
 color: #555;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.contact-item a:hover {
  color: #bfdbfe;
  text-decoration: underline;
}

.contact-icon {
  color: #60a5fa;
}
